@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-toast-width: 420px;
}

@font-face {
  font-family: barlow;
  src: url("../fonts/Barlow/Barlow-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: sofia;
  src: url("../fonts/Sofia/Sofia-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: bellefair;
  src: url("../fonts/Bellefair/Bellefair-Regular.ttf");
  font-display: swap;
}

@layer base {
  body {
    @apply font-[barlow];
  }

  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .icon {
    @apply rounded-xl p-2;
  }
  .input-container {
    @apply mb-2 flex flex-col sm:mb-8 sm:gap-1;
  }

  .input-field {
    @apply mb-1 font-semibold text-white outline-none;
  }
  .no-scroll {
    @apply overflow-hidden;
  }
}
