@import "tailwindcss";

@theme {
  --color-cod-gray: rgb(26, 26, 26);
  --color-cod-gray-darker: rgb(13, 13, 13);
  --color-big-stone: rgb(22, 33, 62);
  --color-white: rgb(248, 249, 250);
  --color-cards: rgb(18, 53, 36);
  --color-cards-labels: rgb(198, 156, 114);

  --color-accent-primary: rgb(31, 170, 89);
  --color-accent-secondary: rgb(255, 190, 118);
  --color-cards-accent: rgb(76, 175, 80);

  --color-hover: rgb(255, 190, 118);
}

@layer base {
  .bg-primary {
    background-color: var(--color-cod-gray);
  }
  .bg-secondary {
    background-color: var(--color-cod-gray-darker);
  }
  .bg-ternary {
    background-color: var(--color-big-stone);
  }
  .text-ternary {
    color: var(--color-big-stone);
  }
  .text-primary {
    color: var(--color-white);
  }
  .text-secondary {
    color: var(--color-accent-primary);
  }
  .text-cards {
    color: var(--color-cod-gray-darker);
  }
  .bg-accent {
    background-color: var(--color-accent-primary);
  }
  .bg-accent-secondary {
    background-color: var(--color-accent-secondary);
  }
  .text-accent {
    color: var(--color-accent-primary);
  }
  .text-accent-secondary {
    color: var(--color-accent-secondary);
  }
  .bg-hover:hover {
    background-color: var(--color-hover);
  }
  .bg-cards {
    background-color: var(--color-cards);
  }
  .bg-cards-labels {
    background-color: var(--color-cards-labels);
  }
  .bg-cards-accent {
    background-color: var(--color-cards-accent);
  }
}


@layer component {
  .hero_section {
    @apply px-8 md:px-16 lg:px-32 py-6 md:py-9 lg:py-12;
  }

  .input-container {
    @apply mb-2 flex flex-col sm:mb-8 sm:gap-1;
  }

  .input-field {
    @apply mb-1 font-semibold outline-none;
  }

  .main_title {
    @apply text-center md:text-start text-xl md:text-2xl lg:text-3xl italic;
  }
}
