---
import BaseLayout from "../layouts/BaseLayout.astro";
import photo from "../../src/assets/img/photo.webp?url";

const pageTitle = "Portfolio | Calcagno Loïc";
---

<BaseLayout pageTitle={pageTitle}>
  <div
    class="text-athensGray mt-8 flex flex-col items-center text-center lg:mt-20 lg:flex-row lg:justify-between lg:text-start"
  >
    <div>
      <h1 class="font-[sofia] text-3xl lg:text-6xl">
        Bienvenue, je m'appelle Loïc
      </h1>
      <h2 class="mt-4 font-[sofia] text-3xl lg:mt-8 lg:text-5xl">
        Développeur web 💻
      </h2>

      <p class="mt-4 text-lg lg:mt-12 lg:w-5/6">
        Je suis profondément passionné par le développement web, un voyage qui a
        commencé par l'auto-apprentissage. Durant mes études de biologiste, j'ai
        pu apprendre les bases de la programmation avec la science des données.
      </p>
      <p class="mt-4 text-lg lg:mt-8 lg:w-5/6">
        Principalement développeur JavaScript (React, TypeScript et Astro), j'ai
        également une forte affinité pour le développement backend, en
        particulier avec Python. Chaque projet et défi alimente mon inspiration
        alors que j'explore de nouvelles technologies et que je m'attaque à des
        tâches complexes.
      </p>
      <p class="mt-4 text-lg lg:mt-8 lg:w-5/6">
        Ce portfolio présente mes réalisations les plus fières en matière de
        développement web. En plus de mon dévouement au développement web, je
        suis très enthousiaste à l'idée de partager mes connaissances. Je suis
        impatient de contribuer à la communauté en partageant ce que j'ai
        appris.
      </p>
    </div>
    <img
      src={photo}
      alt="Bienvenue dans mon portfolio"
      class="h-1/2 w-1/2 rounded-full lg:h-1/4 lg:w-1/4 my-8 lg:my-0"
    />
  </div>
</BaseLayout>
