---
import SocialMediaIcons from "../icons/SocialMediaIcons";

const date = new Date().getFullYear();
---

<footer class="text-athensGray border-t-2 pt-3 border-t-athensGray flex justify-between">
  <span>&copy; Portfolio Calcagno Loïc - {date} </span>

  <div class="flex self-center gap-5">
    <SocialMediaIcons kind="gmail" />
    <SocialMediaIcons kind="linkedin" />
    <SocialMediaIcons kind="github" />
  </div>
</footer>
