---
import NetworkIcons from "../icons/NetworkIcons";

const date = new Date().getFullYear();
---

<footer
  class="flex my-6 flex-col md:flex-row justify-center md:justify-between border-t-2 border-t-athensGray py-6 text-athensGray lg:my-12"
>
  <span class="block mx-auto md:mx-0">&copy; Portfolio Calcagno Loïc - {date} </span>

  <div class="flex gap-5 self-center mt-5 md:mt-0">
    <NetworkIcons kind="gmail" target="mailto:calcagnoloic93@gmail.com" />
    <NetworkIcons
      kind="linkedin"
      target="https://www.linkedin.com/in/loic-calcagno/"
    />
    <NetworkIcons kind="github" target="https://github.com/CalcagnoLoic" />
  </div>
</footer>
