---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { ViewTransitions } from "astro:transitions";

const { pageTitle } = Astro.props;

import { slide } from "astro:transitions";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Calcagno Loïc" />
    <meta name="version" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow&family=Bellefair&family=Sofia&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body
    class="bg-bunting flex h-screen flex-col px-8 py-6 font-[barlow] md:px-16 xl:px-32"
    transition:animate={slide({ duration: "0.4s" })}
  >
    <Header />

    <main class="flex-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>
